<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="file" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target type="BufferingWrapper" name="file" bufferSize="1">
        <target type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${exception:format=tostring} ${message} ${newline}" deleteOldFileOnStartup="true" />
      </target>
    </target>
    <target name="console" type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
